body{
    background: #fff;
    position: relative;
}

.center_vertical{
    display:flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.bottom_vertical{
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.center_horizontal{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.right_horizontal{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.center_text{
    text-align: center;
}

.text_align_right{
    text-align: right;
}

.text_align_left{
    text-align: left;
}

.flex{
    display: flex;
    display: -webkit-flex;
}

/* Social Buttons */
.btn_socials{
    margin-top: 7px;
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E7E8;
}

.btn_socials span{
    margin-right: 3px;
}

.btn_socials span:hover{
    cursor: pointer;
}

.btn_linkedin{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: -89px -27px;
    display: inline-block;
}

.btn_linkedin:hover, .btn_linkedin:focus{
    background-position: -89px 1px;
    cursor: pointer;
}

.btn_twitter{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: -59px -27px;
    display: inline-block;
}

.btn_twitter:hover, .btn_twitter:focus{
    background-position: -59px 1px;
    cursor: pointer;
}

.btn_fb{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: -29px -27px;
    display: inline-block;
}

.btn_fb:hover, .btn_fb:focus{
    background-position: -29px 1px;
    cursor: pointer;
}

.btn_yt{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: -149px -27px;
    display: inline-block;
}

.btn_yt:hover, .btn_yt:focus{
    background-position: -149px 1px;
    cursor: pointer;
}

.btn_email{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: -119px -27px;
    display: inline-block;
}

.btn_email:hover, .btn_email:focus{
    background-position: -119px 1px;
    cursor: pointer;
}

.btn_connect{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: 1px -27px;
    display: inline-block;
}

.btn_connect:hover, .btn_connect:focus{
    background-position: 1px 1px;
    cursor: pointer;
}

/* Middle Out */
.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}
.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 4px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
    width: 100%;
    background: #fff;
}

/* Middle Out2 */
.sliding-middle-out2 {
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}
.sliding-middle-out2:after {
    content: '';
    display: block;
    margin: auto;
    height: 4px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out2:hover:after {
    width: 100%;
    background: #414042;
}

/* FOLLOW/FOLLOWING button */
.btn_follow_on_white_bg{
    margin-left: 20px;
    color: #A7A9AC;	font-family: "ProximaNova";	font-size: 12px;	line-height: 16px;
    cursor: pointer;
}
.btn_follow_on_white_bg:hover, .btn_follow_on_white_bg:active, .btn_follow_on_white_bg_active{
    color: #414042;
}

.btn_follow_on_blue_bg{
    margin-left: 20px;
    color: #A0A9FF;	font-family: "ProximaNova";	font-size: 12px; line-height: 16px;
    cursor: pointer;
}
.btn_follow_on_blue_bg:hover, .btn_follow_on_blue_bg:active, .btn_follow_on_blue_bg_active{
    color: #DFE2FF;
}

.btn_claim_company{
    margin-left: 20px;
    color: #A7A9AC;	font-family: "ProximaNova";	font-size: 12px;	line-height: 16px;
    cursor: pointer;
}
.btn_claim_company:hover{
    color: #414042;
}

/* Label */
.label1{
    color: #414042;	font-family: "ProximaNova";	font-size: 17px;	font-weight: 600;	line-height: 22px;
}
.label2{
    color: #A7A9AC;	font-family: "ProximaNova";	font-size: 12px;	line-height: 16px;
}
.label3{
    color: #414042;	font-family: "ProximaNova";	font-size: 16px;	line-height: 24px;
}
.label4{
    color: #A7A9AC;	font-family: "ProximaNova";	font-size: 16px;	font-weight: 600;	line-height: 26px;	text-align: center;
}
.label5{
    color: #414042;	font-family: "ProximaNova";	font-size: 17px;	font-weight: 600;	line-height: 22px;	text-align: center;
}
.label6{
    color: #414042;	font-family: "ProximaNova";	font-size: 32px;	font-weight: bold;	line-height: 30px;	text-align: center;
    margin-top: 14px;
}
.label7{
    color: #6170FF;	font-family: "ProximaNova";	font-size: 14px;	line-height: 19px;	text-align: center;
}
.label8{
    color: #414042;	font-family: "ProximaNova";	font-size: 12px;	line-height: 16px;	text-align: center;
}
.label9{
    color: #414042;	font-family: "ProximaNova";	font-size: 28px;	font-weight: 300;	line-height: 32px;	text-align: center;
}
.label10{
    color: #414042;	font-family: "UniNeueBook";	font-size: 48px;	font-weight: 300;	line-height: 48px;	text-align: center;
}


/**
    new home page css
 */
.home_page{

}

.home_page__header{
    background: #6170FF;
    width: 100%;
    min-height: 738px;
}

.home_page__header__content{
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.home_page__content{
    max-width: 1400px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    padding-left: 30px;
    padding-right: 30px;
}

.home_page__header__lgtitle{
    font-family: 'UniNeueBlack';
    color: #fff;
    font-size: 50px;
    text-align: left;
    line-height: 50px;

    max-width: 584px;
    width: 100%;
    /*margin-left: auto;*/

    padding-top: 214px;
}

@media (max-width: 992px)
{
    .home_page__header__lgtitle{
        margin-left: auto;
        margin-right: auto;
    }
}

.home_page__header-left{
    padding-left: 30px;
    padding-right: 30px;
}

.home_page__header__mdtitle{
    font-family: 'ProximaNovaRegular';
    color: #fff;
    font-size: 21px;
    text-align: left;

    max-width: 584px;
    width: 100%;
    /*margin-left: auto;*/
    margin-top: 20px;
}

@media (max-width: 992px)
{
    .home_page__header__mdtitle{
        margin-left: auto;
        margin-right: auto;
    }
}

.home_page__header__mdtitle > span{
    font-family: 'ProximaNovaBold';
    color: #F3B93C;
    font-size: 21px;
    text-align: left;
    line-height: 28px;
    letter-spacing: 0.13px;
}

.home_page__header__btnstart{
    background: #38D299;
    border-radius: 100px;
    font-family: 'ProximaNovaBold';
    height: 48px;
    color: #fff;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 24px;
    max-width: 291px;
    width: 100%;
    border: 0;
    outline: none;
}


.home_page__header__btnstart:hover{
    background-color: #005239;
}

.home_page__header-mg1{
    margin-top: 70px;
}

.home_page__header-right{
    text-align: center;
}

@media (max-width: 992px) {

}

.home_page__image{
    max-width: 686px;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
}

@media (max-width: 992px) {
    .home_page__image {
        margin-top: 50px;
    }
}

.home_page__logos{
    width: 100%;
    background: #F1F1F3;
    /*background: url("../images/logoStrip.png");*/
    background-size: cover;
}

.home_page__logos > img{
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.home_page__techno{
    background: #F5F5F5;
    padding-top: 84px;
    padding-bottom: 112px;
}

.home_page__techno-pd1{
    margin-left: 80px;
}

@media (max-width: 992px) {
    .home_page__techno-pd1{
        margin-left: 0;
    }
}

.home_page__techno__lgtitle{
    font-family: 'UniNeueBook';
    color: #6170FF;
    font-size: 36px;
    max-width: 720px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 75px;
}

.home_page__techno__mdtitle{
    font-family: 'ProximaNovaBold';
    color: #6170FF;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 24px;
    margin-bottom: 16px;
}

.home_page__techno__smtitle{
    font-family: 'ProximaNovaLight';
    color: #414042;
    font-size: 18px;
    letter-spacing: 0.12px;
    line-height: 26px;

    max-width: 403px;
    width: 100%;
}

@media (max-width: 992px) {
    .home_page__techno__smtitle{
        margin-left: auto;
        margin-right: auto;
    }
}

.home_page__techno__xstitle{
    font-family: 'ProximaNovaBold';
    color: #38D299;
    font-size: 14px;
    letter-spacing: 0.09px;
    line-height: 24px;
    margin-top: 10px;
    display: block;
}

.home_page__techno__mg1{
    margin-bottom: 37px;
}

.home_page__techno__mg2{
    margin-bottom: 59px;
}

@media (max-width: 992px) {
    .home_page__techno__mg3{
        margin-top: 30px;
    }
}

.home_page__offering{
    padding-top: 91px;
}

.home_page__offering-lgimage{
    max-width: 663px;
    width: 100%;
}

.home_page__offering-smimage{
    max-width: 161px;
    width: 100%;
    margin-top: 65px;
}

.home_page__offering__lgtitle{
    font-family: 'UniNeueBook';
    color: #6170FF;
    font-size: 36px;
    max-width: 462px;
    width: 100%;
    line-height: 42px;
    margin-top: 26px;
}

.home_page__offering__mdtitle{
    font-family: 'UniNeueBook';
    color: #414042;
    font-size: 24px;
    text-align: left;
    line-height: 27px;

    max-width: 462px;
    width: 100%;
    margin-top: 5px;
}

.home_page__offering__smtitle{
    font-family: 'ProximaNovaLight';
    color: #414042;
    font-size: 17px;
    text-align: left;
    letter-spacing: 0.12px;
    line-height: 26px;
    margin-top: 19px;
    margin-bottom: 62px;
}

.home_page__sepline{
    max-width: 913px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #CFCFCF;
    margin-top: 155px;
    margin-bottom: 84px;
}

@media (max-width: 768px) {
    .home_page__sepline{
        margin-top: 80px;
        margin-bottom: 20px;
    }
}

.home_page__techmoni{

}

.home_page__techmoni-logo{
    max-width: 138px;
    width: 100%;
    margin-top: 70px;
}

.home_page__techmoni-lgtitle{
    font-family: 'UniNeueBook';
    color: #6170FF;
    font-size: 36px;
    line-height: 42px;
    max-width: 462px;
    width: 100%;
    margin-top: 28px;
}

.home_page__techmoni-mdtitle {
    font-family: 'UniNeueBook';
    color: #414042;
    font-size: 24px;
    text-align: left;
    line-height: 27px;

    max-width: 462px;
    width: 100%;
    margin-top: 5px;
}

.home_page__techmoni-smtitle{
    font-family: 'ProximaNovaLight';
    color: #414042;
    font-size: 17px;
    letter-spacing: 0.12px;
    line-height: 26px;
    margin-top: 21px;
    margin-bottom: 67px;
    max-width: 453px;
    width: 100%;
}

.home_page__techmoni-lgimg{
    max-width: 688px;
    width: 100%;
}

@media (max-width: 992px) {
    .home_page__techmoni-lgimg {
        margin-top: 50px;
    }
}

.home_page__consult{
    background: #F5F5F5;
    padding-top: 98px;
    padding-bottom: 110px;
}

.home_page__consult-lgtitle{
    font-size: 52px;
    font-family: 'UniNeueBook';
    color: #6170FF;
    text-align: center;
    line-height: 42px;
}

.home_page__consult-mdtitle{
    font-family: 'ProximaNovaLight';
    color: #414042;
    font-size: 23px;
    letter-spacing: 0.12px;
    line-height: 32px;

    max-width: 869px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;

    text-align: center;
    margin-bottom: 69px;
}

.home_page__stay{
    background: #3A4399;
    padding-top: 113px;
    padding-bottom: 139px;
}

.home_page__stay-lgtitle{
    color: #fff;
    font-family: 'ProximaNovaLight';
    font-size: 28px;
    text-align: center;
    line-height: 32px;
}

.home_page__stay-mdtitle{
    color: #fff;
    font-family: 'ProximaNovaRegular';
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.12px;
    line-height: 24px;

    width: 100%;
    max-width: 542px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27.58px;
}


.home_page__techno-rborder{
    border-left: 1px solid #CFCFCF;
}

@media (max-width: 992px) {
    .home_page__techno-rborder{
        border-left: 0;
    }
}

.home_page__stay__email {
    height: 65px;
    max-width: 371px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    background-color: #F5F5F5;
    padding: 8px 10px 7px 20px;
}

.input_work_email{
    flex: 1;
    color: #A7A9AC;	font-family: "ProximaNova";	font-size: 16px;	font-weight: 500;	line-height: 19px;

    border: 0;
    background-color: #F5F5F5;
}

.input_work_email:focus{
    outline: none;
}


.btn_submit{
    width: 80px;
    height: 50px;
    margin-left: 10px;

    background-color: #6170FF;	box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.07);
    border: 0;

    color: #FFFFFF;	font-family: "ProximaNova";	font-size: 11px;	font-weight: bold;	letter-spacing: 2px;	line-height: 13px;	text-align: center;
}

.btn_submit:focus{
    outline: none;
}

.btn_submit:hover{
    background: #30349c;
}

.under_label1{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1300px) {

}

@media (max-width: 992px) {

}

@media (max-width: 767px) {

}